<div class="container bootstrap snippets bootdeys">
  <div class="row">
<!-- NAV BAR STUFF  -->
<header>

</header>
      <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="panel rounded shadow">
              <div class="panel-body">
                  <div class="inner-all">
                      <ul class="list-unstyled">
                          <li class="text-center">
                              <img data-no-retina="" class="img-circle img-responsive img-bordered-primary" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="John Doe">
                          </li>
                          <li class="text-center">
                              <h4 class="text-capitalize">John Doe</h4>

                          </li>

                          <li><br></li>
                          <li>
                              <div class="btn-group-vertical btn-block">
                                  <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div><!-- /.panel -->

      </div>
      <div class="col-lg-9 col-md-9 col-sm-8">

      <div class="profile-cover">
          <div class="cover rounded shadow no-overflow">
              <div class="inner-cover">
                  <!-- Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). -->
                  <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                      <!-- <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-bars"></i>
                      </button> -->
                      <ul class="dropdown-menu pull-right no-border" role="menu">
                          <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                          <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                          <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>
                          <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>
                          <li><a href="#"><i class="fa fa-fw fa-envelope"></i> <span>Messages</span> <small>(7 new)</small></a></li>
                      </ul>
                  </div>
                  <!-- COVER PHOTO GOES IN HEREEEEE -->
                  <img  src="https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg" class="img-responsive full-width" alt="cover" style="max-height:200px;">
              </div>

              <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu">
                  <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                  <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                  <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>
                  <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>

              </ul>
          </div><!-- /.cover -->
      </div><!-- /.profile-cover -->
      <div class="divider"></div>

      <div class="panel rounded shadow">
          <form action="...">
              <textarea class="form-control input-lg no-border" rows="2" placeholder="What are you doing?..."></textarea>
          </form>
          <div class="panel-footer">
              <button class="btn btn-success pull-right mt-5">POST</button>
              <ul class="nav nav-pills">
                  <li><a href="#"><i class="fa fa-user"></i></a></li>
                  <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                  <li><a href="#"><i class="fa fa-camera"></i></a></li>
                  <li><a href="#"><i class="fa fa-smile-o"></i></a></li>
              </ul><!-- /.nav nav-pills -->
          </div><!-- /.panel-footer -->
      </div><!-- /.panel -->
      <br>
      <br>
      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-success rounded shadow">
                  <div class="panel-heading no-border">
                      <div class="pull-left half">
                      </div><!-- /.pull-left -->
                      <div class="pull-right">
                          <a href="#" class="text-white h4"><i class="fa fa-heart"></i> 15.5K</a>
                      </div><!-- /.pull-right -->
                      <div class="clearfix"></div>
                  </div><!-- /.panel-heading -->
                  <!-- HomeComponent HTML -->
                  <div class="home-page">
                    <app-post-comment></app-post-comment> <!-- This line includes the PostCommentComponent -->
                  </div>
              </div><!-- /.panel -->
          </div>
      </div>
      </div>
      </div>
  </div>
  <footer>
    <br>
    <br>
    <br>
  </footer>
