<div class="container bootstrap snippets bootdeys">
  <div class="row">
<!-- NAV BAR STUFF  -->
<header>
</header>
      <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="panel rounded shadow">
              <div class="panel-body">
                  <div class="inner-all">
                    <div class="profile-info text-center">

                      <ul class="list-unstyled">
                        <li class="text-center">

                          <img data-no-retina="" class="img-circle img-responsive img-bordered-primary custom-profile-pic" src="{{ user.profilePicture || 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png'}}" alt="User Profile">
                        </li>
                        <li class="text-center">
                          <h4 class="text-capitalize">{{ user.username }}</h4>
                          <ul class="list-inline profile-menu">
                            <li><a routerLink="/about" class="btn btn-default"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                            <li><a routerLink="/photos" class="btn btn-default"><i class="fa fa-fw fa-camera"></i> <span>Photos</span></a></li>
                            <li><a routerLink="/followers" routerLinkActive="active" class="btn btn-default"><i class="fa fa-fw fa-users"></i> <span>Followers</span></a></li>
                          </ul>
                        </li>
                        <li><br></li>
                      </ul>
                    </div>
                  </div>
              </div>
          </div><!-- /.panel -->
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8">
      <div class="profile-cover">
          <div class="cover rounded shadow no-overflow">
              <div class="inner-cover">
                  <!-- COVER PHOTO GOES IN HEREEEEE -->
                  <img  src="{{ user.backgroundPicture || 'https://inflact.com/uploads/content/cover_best_hashtags_for_dog_accounts.jpeg'}}" class="img-responsive full-width" alt="cover" style="max-height:200px;">
              </div>
              </div><!-- /.cover -->
      </div><!-- /.profile-cover -->
      <div class="divider"></div>
      <div class="row">
          <div class="col-md-12">
              <div class="panel panel-success rounded shadow">
                  <div class="panel-heading no-border">
                      <div class="pull-left half">
                      </div><!-- /.pull-left -->
                      <div class="clearfix"></div>
                  </div><!-- /.panel-heading -->
                  <!-- HomeComponent HTML -->
                  <div class="home-page">
                    <app-post-comment></app-post-comment> <!-- This line includes the PostCommentComponent -->
                  </div>
              </div><!-- /.panel -->
          </div>
      </div>
      </div>
      </div>
  </div>
  <footer>
    <br>
    <br>
    <br>
  </footer>
