<div *ngIf="user" class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="card p-4">
        <div class="row px-3 mb-4">
          <h2>Update User Account</h2>
        </div>
        <form (ngSubmit)="updateUser(editUser)">
          <!-- Username -->
          <div class="row px-3 mb-4">
            <label for="username" class="form-label"><h6 class="mb-0 text-sm">Username</h6></label>
            <input id="username" [(ngModel)]="editUser.username" name="username" type="text" class="form-control" placeholder="Enter your username">
          </div>
          <!-- First Name -->
          <div class="row px-3 mb-4">
            <label for="firstName" class="form-label"><h6 class="mb-0 text-sm">First Name</h6></label>
            <input id="firstName" [(ngModel)]="editUser.firstName" name="firstName" type="text" class="form-control" placeholder="Enter your first name">
          </div>
          <!-- Last Name -->
          <div class="row px-3 mb-4">
            <label for="lastName" class="form-label"><h6 class="mb-0 text-sm">Last Name</h6></label>
            <input id="lastName" [(ngModel)]="editUser.lastName" name="lastName" type="text" class="form-control" placeholder="Enter your last name">
          </div>
          <!-- Profile Picture Upload -->
          <div class="row px-3 mb-4">
            <label for="profilePictureFile" class="form-label"><h6 class="mb-0 text-sm">Profile Picture</h6></label>
            <input id="profilePictureFile" type="file" (change)="handleImageUpload($event, 'profilePicture')" class="form-control">
          </div>
          <!-- Background Picture Upload -->
          <div class="row px-3 mb-4">
            <label for="backgroundPictureFile" class="form-label"><h6 class="mb-0 text-sm">Background Picture</h6></label>
            <input id="backgroundPictureFile" type="file" (change)="handleImageUpload($event, 'backgroundPicture')" class="form-control">
          </div>
           <!-- Address fields -->
           <div class="row px-3 mb-4">
            <label for="street"><h6 class="mb-0 text-sm">Street</h6></label>
            <input id="street" [(ngModel)]="editAddress.street" name="street" type="text" class="form-control" placeholder="Street">
        </div>

        <div class="row px-3 mb-4">
            <label for="city"><h6 class="mb-0 text-sm">City</h6></label>
            <input id="city" [(ngModel)]="editAddress.city" name="city" type="text" class="form-control" placeholder="City">
        </div>

        <div class="row px-3 mb-4">
            <label for="state"><h6 class="mb-0 text-sm">State</h6></label>
            <input id="state" [(ngModel)]="editAddress.state" name="state" type="text" class="form-control" placeholder="State">
        </div>

        <div class="row px-3 mb-4">
            <label for="zip"><h6 class="mb-0 text-sm">Zip</h6></label>
            <input id="zip" [(ngModel)]="editAddress.zip" name="zip" type="text" class="form-control" placeholder="Zip Code">
        </div>

        <div class="row px-3 mb-4">
            <button type="submit" class="btn btn-blue btn-block btn-success">Update User</button>
        </div>
        </form>

        <div class="row px-3">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<!-- Admin specific section -->
<div *ngIf="isAdmin" class="container mt-5">
  <h2>All Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers">
        <td>{{ user.username }}</td>
        <td>{{ user.enabled ? 'Enabled' : 'Disabled' }}</td>
        <td>
          <button *ngIf="!user.enabled" (click)="enableUserAccount(user.id)" class="btn btn-sm btn-success">Enable</button>
          <button *ngIf="user.enabled" (click)="disableUserAccount(user.id)" class="btn btn-sm btn-warning">Disable</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
