<div class="container bootstrap snippets bootdeys">
  <h2>My Pets</h2>

  <div id="petPanelDisplay">
    <div *ngFor="let details of pet" (click)="displayPets(details)">
      <div class="row">
        <header>
          <div class="col-lg-15 col-md-15 col-sm-15">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-success rounded shadow">
                  <div class="panel-heading no-border">
                    <footer><br /></footer>
                  </div>
                  <!-- Image with circular container -->
                  <div class="media">
                    <div class="media-object pull-left circular-container">
                      <img
                        src="{{ details.profilePicture }}"
                        alt="..."
                        class="Picture of Pet"
                      />
                    </div>
                  </div>
                  <div class="pet-details">
                    <p><strong>Name: </strong>{{ details.name }}</p>
                    <p><strong>Description: </strong>{{ details.description }}</p>
                    <p><strong>Breed: </strong>{{ details.breed }}</p>
                    <p><strong>DOB: </strong>{{ details.dateOfBirth }}</p>
                  </div>
                  <!-- Edit and delete buttons -->
                  <div class="edit-delete-buttons pull-right">
                    <button class="btn btn-primary btn">Edit</button>
                    <button class="btn btn-danger btn">Delete</button>
                  </div>
                </div>
              </div>
            </div>
            <footer>
              <br/>
            </footer>
          </div>
          <div></div>
        </header>
      </div>
    </div>
    <div class="add-pet-button">
      <button class="btn btn-primary">Add Pet</button>
    </div>
  </div>
</div>
