<div class="container bootstrap snippets bootdeys">
  <h2 class="text-center">Pet Pictures Album</h2>

  <div id="petPicturesPanelDisplay" class="row">
    <div class="col-md-4" *ngFor="let petPicture of petPictures">
      <div class="card mb-4 shadow-sm">
        <h5 class="text-center">{{ getPetName(petPicture.pet.id) }}</h5>
        <div class="media">
          <div  class="media-object pull-left circular-container" style="margin-left: 70px;">
            <img [src]="petPicture.imageUrl" alt="Pet Picture" class="Pet Picture" >
          </div>
        </div>
        <div class="card-body text-center">
          <p class="text-center" style="margin: 5px;">{{ petPicture.caption }}</p>
          <button class="btn btn-danger btn-sm" (click)="deletePetPicture(petPicture.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Add Picture Section -->
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body text-center">
          Select Pet:
          <select name="selectPet" [(ngModel)]="newPetPicture.pet.id">
            <option *ngFor="let pet of myPets" [value]="pet.id">{{pet.name}}</option>
          </select>
          <input style="margin: 5px;" [(ngModel)]="newPetPicture.imageUrl" type="text" placeholder="Image URL">
          <input style="margin-right: 5px;" [(ngModel)]="newPetPicture.caption" type="text" placeholder="Caption">
          <button class="btn btn-primary btn-sm" (click)="addPetPicture(newPetPicture)">Add Picture</button>
        </div>
      </div>
    </div>
  </div>
</div>
