<div class="container bootstrap snippets bootdeys bg-light">
  <h2 class="text-center">Pet Pictures Album</h2>

  <div id="petPicturesPanelDisplay" class="row center-images">
    <div class="col-md-4" *ngFor="let petPicture of petPictures">
      <div class="card mb-4 shadow-sm">
        <h5 class="text-center">{{ getPetName(petPicture.pet.id) }}</h5>
        <div class="media">
          <div  class="media-object pull-left circular-container">
            <img [src]="petPicture.imageUrl" alt="Pet Picture" class="Pet Picture" >
          </div>
        </div>
        <div class="card-body text-center">
          <p class="text-center" style="margin: 5px;">{{ petPicture.caption }}</p>
          <button class="btn btn-danger btn-sm" (click)="deletePetPicture(petPicture.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
<!-- Add Picture Section -->
<div class="row mt-4">
  <div class="col-lg-12">
    <div class="card mb-4 shadow-sm">
      <div class="card-body text-center">
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="form-group">
              <!-- Adjust the width of the select pet dropdown box -->
              <label for="selectPet">Select Pet:</label>
              <input type="text" class="form-control" readonly style="color: #6c757d; cursor: default;">
              <select id="selectPet" name="selectPet" [(ngModel)]="newPetPicture.pet.id" class="form-select" style="margin-top: -38px;">
                <option value=""></option> <!-- Hidden option to ensure placeholder is displayed by default -->
                <option *ngFor="let pet of myPets" [value]="pet.id">{{pet.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <!-- Adjust the width of the image URL container -->
              <label for="imageUrl">Image URL:</label>
              <input [(ngModel)]="newPetPicture.imageUrl" id="imageUrl" type="text" class="form-control" placeholder="Image URL">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <!-- Adjust the width of the caption container -->
              <label for="caption">Caption:</label>
              <input [(ngModel)]="newPetPicture.caption" id="caption" type="text" class="form-control" placeholder="Caption">
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <button class="btn btn-primary btn-sm" (click)="addPetPicture(newPetPicture)">Add Picture</button>
        </div>
        <!-- Carousel Section -->
  <div class="custom-carousel">
    <div class="col-lg-12">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <ngb-carousel *ngIf="images.length > 0">
            <ng-template ngbSlide *ngFor="let img of images; let i = index">
              <div class="picsum-img-wrapper">
                <img [src]="img" alt="Photo number {{ i + 1 }}">
              </div>
              <div class="carousel-caption">
                <p>This is photo number {{ i + 1 }} of pets doing stuff!</p>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
