<div class="container bootstrap snippets bootdeys">
  <div class="row">
<!-- NAV BAR STUFF  -->
<header>

</header>
      <div class="col-lg-12 col-md-12 col-sm-12">

      <div class="profile-cover">
          <div class="cover rounded shadow no-overflow">
              <div class="inner-cover">
                  <!-- Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). -->
                  <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                      <!-- <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-bars"></i>
                      </button> -->

                  </div>
                  <!-- COVER PHOTO GOES IN HEREEEEE -->
                  <img  src="assets/images/dogbanner.png" class="img-responsive full-width" alt="cover" style="max-height:200px;">
              </div>


          </div>
      </div>
      <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="background: url(assets/images/pets.png) center center;">
    <div class="container text-center text-md-left" data-aos="fade-up" >
      <h1>Welcome to <span>Pet Connect!</span></h1>
    </div>
    </section>


      <section id="what-we-do" class="what-we-do" >
      <div class="container" style="background-color: antiquewhite;">

        <div class="section-title" >
          <br>
          <h2>What We Do</h2>
          <h5>Our app serves as a dynamic platform where like-minded individuals come together to connect, share experiences, and pool valuable resources! </h5>
        </div>

        <!-- This is in case we want little windows -->
        <!--   <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>
           -->


        </div>
        <br>
        <br>

       <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <ngb-carousel *ngIf="images">
                <ng-template ngbSlide *ngFor="let image of images">
                  <img [src]="image" class="d-block w-100" alt="Slide">
                </ng-template>
              </ngb-carousel>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <h3>About</h3>
              <p>
                Conceived as the culmination of our final project for Skill Distillery, this application is the result of our collective passion for pets and the desire to create a unique space for pet owners to connect and thrive.
                <br>
                Throughout the development process, we poured in countless hours of hard work, dedication, and creative energy to bring this vision to life. From conceptualization to execution, we meticulously crafted each feature with the aim of fostering a sense of community among pet owners.
              </p>
            </div>
          </div>

      </div>
      </div>
    </section><!-- End About Section -->



